
table
{
    background-color: rgb(255, 255, 255);
border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td
{
border: 2px solid black;
}
body {
    background-color: rgb(224, 245, 252);
}
a:hover {
    color: hotpink;
}
